.search-bar-icon:last-child {
    margin-right: 0;
}
.search-bar-icon {
    opacity: 0.9;
    margin-right: 10%;
    max-height: 30px;
}
.heart-icon {
    max-height: 39px;
}

@media (max-width: 500px) {
    .search-bar input {
        max-width: 35%;
        margin-right: 4%; 
    }
    .search-bar-icons {
        max-width: 20%;
    }
}