.comment-section {
    width: 100%;
    padding: 5px 0 0 0;
}
.timestamp {
    width: 100%;
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(105, 105, 105);
    padding-left: 2%;
}
.add-comment-input {
    width: 100%;
    margin-top: 15px;
    padding: 20px;
    border: none;
    border-top: 1px solid lightgray;
    font-size: 1.6rem;
    background: url(https://randomuser.me/api/portraits/lego/8.jpg) no-repeat scroll 7px 7px;
    background-size: 5%;
    background-position-y: center;
    padding-left: 50px;
}
.add-comment-input:focus {
    outline: none;
}