.footer-icons {
    width: 100%;
    padding: 10px 1.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-icon {
    opacity: 2;
    margin-right: 2%;
    cursor: pointer;
    height: 35px;
}
.footer-heart-icon {
    height: 29px;
    fill: blue;
}
.footer-bubble-icon {
    height: 25px;
    transform: scaleX(-1);
}
.footer-likes {
    display: flex;
}
.num-of-likes {
    padding-left: 2%;
    font-weight: bold;
    margin-right: 1%;
}