.footer-icons {
    width: 100%;
    padding: 15px 1.5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer-icon {
    opacity: 2;
    transform: scaleX(-1);
    margin-right: 2%;
    cursor: pointer;
    height: 35px;
}
.footer-heart-icon {
    height: 35px;
}
.footer-bubble-icon {
    height: 30px;
}
.num-of-likes {
    padding-left: 2%;
    font-weight: bold;
}